<div class="slide slide-background slide-horizontal">
  <div class="half-slide white">
    <h1>¿Cuándo sí?</h1>
    <p style="text-align: left; margin: 30px 30px">
      ● Cuando la UX importa<br>
      ● Aplicaciones ligeras<br>
      ● Páginas personales<br>
      ● Frontend<br>
    </p>
  </div>
  <div class="half-slide">
    <div>
      <h1>¿Cuándo no?</h1>
      <p style="text-align: left; margin: 30px 30px">
        ● Aplicaciones demasiado grandes<br>
        ● Páginas function-over-form<br><br><br>
      </p>
    </div>
  </div>
</div>