<div class="slide slide-background slide-horizontal">
  <div class="half-slide white">
    <h1>Pero antes...</h1>
    <h3>¿Qué es una aplicación de múltiples páginas?</h3>
  </div>
  <div class="half-slide" style="flex-direction: row; justify-content: space-around; position: relative">
    <i style="position: absolute; bottom: 40px; font-size: 20px">"En mi época teníamos links y eran azules..."</i>
    <div class="pagina-illust template2" id="left-page">
      <div style="grid-area: header; background: lightgreen"></div>
      <div style="grid-area: menu1; background: palegoldenrod"></div>
      <div style="grid-area: menu2; background: palegoldenrod"></div>
      <div style="grid-area: menu3; background: palegoldenrod"></div>
      <div style="grid-area: main1; background: sandybrown"></div>
      <div style="grid-area: main2; background: salmon"></div>
      <div style="grid-area: footer; background: lightseagreen"></div>
    </div>
    <div class="pagina-illust template1" id="main-page">
      <div style="grid-area: header; background: lightgreen"></div>
      <div style="grid-area: menu1; background: palegoldenrod"></div>
      <div style="grid-area: menu2; background: palegoldenrod"></div>
      <div style="grid-area: menu3; background: palegoldenrod"></div>
      <div style="grid-area: main1; background: sandybrown"></div>
      <div style="grid-area: main2; background: salmon"></div>
      <div style="grid-area: footer; background: lightseagreen"></div>
    </div>
    <div class="pagina-illust template3" id="right-page">
      <div style="grid-area: header; background: lightgreen"></div>
      <div style="grid-area: menu1; background: palegoldenrod"></div>
      <div style="grid-area: menu2; background: palegoldenrod"></div>
      <div style="grid-area: menu3; background: palegoldenrod"></div>
      <div style="grid-area: main1; background: sandybrown"></div>
      <div style="grid-area: main2; background: salmon"></div>
      <div style="grid-area: footer; background: lightseagreen"></div>
    </div>
    <div class="arrow" style="left: 250px">
      <div class="arrow-point"></div>
      <div class="arrow-body"></div>
    </div>
    <div class="arrow" style="right: 150px; transform: rotate(-90deg) translate(8px)">
      <div class="arrow-point"></div>
      <div class="arrow-body"></div>
    </div> 
  </div>
</div>